.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-bottom: 20px;
  color: var(--text-primary-color);
}

/* TODO: вынести в общие */

.ingredients_container {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.order_cost {
  display: flex;
  justify-content: end;
  align-items: center;
}

.ingredient {
  max-height: 80px;
  background-color: #1c1c21;
}
