.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-bottom: 20px;
  color: var(--text-primary-color);
}

/* TODO: вынести в общие */

.ingredients_container {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.ingredients_wrapper {
  padding-left: 0;
  overflow: hidden auto;
  scroll-snap-type: y mandatory;
}

.ingredient_drag {
  display: flex;
  align-items: center;
  scroll-snap-align: start;
}

.ingredient_drag:last-child {
  margin-bottom: 0;
}

.ingredient {
  max-height: 80px;
  background-color: #1c1c21;
}

.order_cost {
  display: flex;
  justify-content: end;
  align-items: center;
}
