.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: var(--text-primary-color);
  background-color: var(--background-alt);
}

.ingredient {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;

  & h2 {
    height: 64px;
    line-height: 64px;
    text-align: center;
  }
}
