.price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_default {
  width: 24px !important;
  height: 24px !important;
}

.icon_medium {
  width: 36px !important;
  height: 36px !important;
}
