.ingredient_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 520px;
  margin: 0 auto;
}

.name {
  display: flex;
  text-align: center;
  overflow-wrap: break-word;
}

.image {
  height: 240px;
}

.nutrition_props {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 56px;
  column-gap: 20px;
}
