body {
  margin: 0;
}

/* Fix for scrollbar */

@supports (scrollbar-color: auto) {
  .custom-scroll {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }

  body {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }
}

.container-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 480px;
  margin: 200px auto 0;
}

.content-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: #4c4cff;
  text-decoration: none;
  cursor: pointer;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c21;
}
