.burger_ingredients {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  color: var(--text-primary-color);
  font-family: 'Jet Brains Mono', serif;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.ingredients_container {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.ingredients_wrapper {
  flex: 1;
  overflow: hidden auto;
}

.ingredients {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 24px;
  padding: 0 16px;
}

.ingredient {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}

.image {
  margin: 0 auto;
}
